h1 {
    color: #27aedb;
    text-align: center;
    }
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
input,button{
    display: block;
    margin:20px
}